.elementor-84 .elementor-element.elementor-element-646f728>.elementor-container {
    max-width: 1120px;
}

.elementor-84 .elementor-element.elementor-element-0efa8d1>.elementor-container {
    min-height: 350px;
}

.elementor-84 .elementor-element.elementor-element-0efa8d1:not(.elementor-motion-effects-element-type-background),
.elementor-84 .elementor-element.elementor-element-0efa8d1>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #00A5E5;
}

.elementor-84 .elementor-element.elementor-element-0efa8d1 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-84 .elementor-element.elementor-element-0efa8d1>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-84 .elementor-element.elementor-element-a82555f {
    text-align: left;
}

.elementor-84 .elementor-element.elementor-element-a82555f>.elementor-widget-container {
    margin: -95px 0px 0px 0px;
    padding: 0px 0px 0px 102px;
}

.elementor-bc-flex-widget .elementor-84 .elementor-element.elementor-element-f5702c3.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-84 .elementor-element.elementor-element-f5702c3.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-84 .elementor-element.elementor-element-f5702c3>.elementor-element-populated {
    padding: 0px 0px 0px 20px;
}

.elementor-84 .elementor-element.elementor-element-2b31ecc .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Hellix", Sans-serif;
    font-size: 50px;
    font-weight: 600;
    line-height: 50px;
}

.elementor-84 .elementor-element.elementor-element-d8b0cee {
    color: #F7F7F7;
    font-family: "Hellix", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

.elementor-84 .elementor-element.elementor-element-d8b0cee>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 6px 170px 20px 0px;
}

.elementor-84 .elementor-element.elementor-element-9178fe3 .elementor-button {
    font-family: "Gilroy", Sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 18px;
    background-color: #153971;
    border-radius: 0px 0px 0px 0px;
    padding: 18px 28px 18px 28px;
}

.elementor-84 .elementor-element.elementor-element-9178fe3 .elementor-button:hover,
.elementor-84 .elementor-element.elementor-element-9178fe3 .elementor-button:focus {
    color: #153971;
    background-color: #FFFFFF;
}

.elementor-84 .elementor-element.elementor-element-9178fe3 .elementor-button:hover svg,
.elementor-84 .elementor-element.elementor-element-9178fe3 .elementor-button:focus svg {
    fill: #153971;
}

.elementor-84 .elementor-element.elementor-element-9178fe3>.elementor-widget-container {
    padding: 0px 10px 0px 0px;
}

.elementor-84 .elementor-element.elementor-element-9178fe3 {
    width: auto;
    max-width: auto;
}

.elementor-84 .elementor-element.elementor-element-5528086 .elementor-button {
    font-family: "Gilroy", Sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 18px;
    fill: #153971;
    color: #153971;
    background-color: #FFFFFF;
    border-radius: 0px 0px 0px 0px;
    padding: 18px 28px 18px 28px;
}

.elementor-84 .elementor-element.elementor-element-5528086 .elementor-button:hover,
.elementor-84 .elementor-element.elementor-element-5528086 .elementor-button:focus {
    color: #FFFFFF;
    background-color: #153971;
}

.elementor-84 .elementor-element.elementor-element-5528086 .elementor-button:hover svg,
.elementor-84 .elementor-element.elementor-element-5528086 .elementor-button:focus svg {
    fill: #FFFFFF;
}

.elementor-84 .elementor-element.elementor-element-5528086 {
    width: auto;
    max-width: auto;
}

.elementor-84 .elementor-element.elementor-element-cc14b4f>.elementor-container {
    max-width: 1120px;
}

.elementor-84 .elementor-element.elementor-element-cc14b4f {
    padding: 115px 0px 80px 0px;
}

.elementor-84 .elementor-element.elementor-element-945e246 {
    text-align: left;
}

.elementor-84 .elementor-element.elementor-element-945e246 img {
    width: 79%;
}

.elementor-84 .elementor-element.elementor-element-945e246>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
}

.elementor-84 .elementor-element.elementor-element-935b868 .elementor-heading-title {
    color: #182955;
    font-family: "Hellix", Sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}

.elementor-84 .elementor-element.elementor-element-7031350 .elementor-icon-list-icon i {
    color: #00A5E5;
    transition: color 0.3s;
}

.elementor-84 .elementor-element.elementor-element-7031350 .elementor-icon-list-icon svg {
    fill: #00A5E5;
    transition: fill 0.3s;
}

.elementor-84 .elementor-element.elementor-element-7031350 {
    --e-icon-list-icon-size: 20px;
    --icon-vertical-align: flex-start;
    --icon-vertical-offset: 5px;
}

.elementor-84 .elementor-element.elementor-element-7031350 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-84 .elementor-element.elementor-element-7031350 .elementor-icon-list-item>a {
    font-family: "Helix Medium", Sans-serif;
    font-size: 17px;
    font-weight: 100;
    line-height: 27px;
}

.elementor-84 .elementor-element.elementor-element-7031350 .elementor-icon-list-text {
    transition: color 0.3s;
}

.elementor-84 .elementor-element.elementor-element-46ad95f .elementor-heading-title {
    color: #182955;
    font-family: "Hellix", Sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}

.elementor-84 .elementor-element.elementor-element-b588f03 .elementor-icon-list-icon i {
    color: #00A5E5;
    transition: color 0.3s;
}

.elementor-84 .elementor-element.elementor-element-b588f03 .elementor-icon-list-icon svg {
    fill: #00A5E5;
    transition: fill 0.3s;
}

.elementor-84 .elementor-element.elementor-element-b588f03 {
    --e-icon-list-icon-size: 20px;
    --icon-vertical-align: flex-start;
    --icon-vertical-offset: 5px;
}

.elementor-84 .elementor-element.elementor-element-b588f03 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-84 .elementor-element.elementor-element-b588f03 .elementor-icon-list-item>a {
    font-family: "Helix Medium", Sans-serif;
    font-size: 17px;
    font-weight: 100;
    line-height: 27px;
}

.elementor-84 .elementor-element.elementor-element-b588f03 .elementor-icon-list-text {
    transition: color 0.3s;
}

.elementor-84 .elementor-element.elementor-element-792889c>.elementor-element-populated {
    padding: 0px 0px 0px 44px;
}

.elementor-84 .elementor-element.elementor-element-da3d86a .elementor-heading-title {
    color: #00A5E5;
    font-family: "Hellix", Sans-serif;
    font-size: 23px;
    font-weight: 600;
    line-height: 29px;
}

.elementor-84 .elementor-element.elementor-element-998a918 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(31px/2);
}

.elementor-84 .elementor-element.elementor-element-998a918 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(31px/2);
}

.elementor-84 .elementor-element.elementor-element-998a918 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(31px/2);
    margin-left: calc(31px/2);
}

.elementor-84 .elementor-element.elementor-element-998a918 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-31px/2);
    margin-left: calc(-31px/2);
}

body.rtl .elementor-84 .elementor-element.elementor-element-998a918 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-31px/2);
}

body:not(.rtl) .elementor-84 .elementor-element.elementor-element-998a918 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-31px/2);
}

.elementor-84 .elementor-element.elementor-element-998a918 .elementor-icon-list-icon i {
    color: #FF0000;
    transition: color 0.3s;
}

.elementor-84 .elementor-element.elementor-element-998a918 .elementor-icon-list-icon svg {
    fill: #FF0000;
    transition: fill 0.3s;
}

.elementor-84 .elementor-element.elementor-element-998a918 {
    --e-icon-list-icon-size: 20px;
    --icon-vertical-align: flex-start;
    --icon-vertical-offset: 5px;
}

.elementor-84 .elementor-element.elementor-element-998a918 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-84 .elementor-element.elementor-element-998a918 .elementor-icon-list-item>a {
    font-family: "Helix Medium", Sans-serif;
    font-size: 16px;
    font-weight: 100;
    line-height: 25px;
}

.elementor-84 .elementor-element.elementor-element-998a918 .elementor-icon-list-text {
    color: #425563;
    transition: color 0.3s;
}

.elementor-84 .elementor-element.elementor-element-998a918 .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: #153971;
}

.elementor-84 .elementor-element.elementor-element-a04557a>.elementor-element-populated {
    padding: 0px 0px 0px 80px;
}

.elementor-84 .elementor-element.elementor-element-40841cb .elementor-heading-title {
    color: #00A5E5;
    font-family: "Hellix", Sans-serif;
    font-size: 23px;
    font-weight: 600;
    line-height: 29px;
}

.elementor-84 .elementor-element.elementor-element-acb7e9e .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(31px/2);
}

.elementor-84 .elementor-element.elementor-element-acb7e9e .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(31px/2);
}

.elementor-84 .elementor-element.elementor-element-acb7e9e .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(31px/2);
    margin-left: calc(31px/2);
}

.elementor-84 .elementor-element.elementor-element-acb7e9e .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-31px/2);
    margin-left: calc(-31px/2);
}

body.rtl .elementor-84 .elementor-element.elementor-element-acb7e9e .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-31px/2);
}

body:not(.rtl) .elementor-84 .elementor-element.elementor-element-acb7e9e .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-31px/2);
}

.elementor-84 .elementor-element.elementor-element-acb7e9e .elementor-icon-list-icon i {
    color: #FF0000;
    transition: color 0.3s;
}

.elementor-84 .elementor-element.elementor-element-acb7e9e .elementor-icon-list-icon svg {
    fill: #FF0000;
    transition: fill 0.3s;
}

.elementor-84 .elementor-element.elementor-element-acb7e9e {
    --e-icon-list-icon-size: 20px;
    --icon-vertical-align: flex-start;
    --icon-vertical-offset: 5px;
}

.elementor-84 .elementor-element.elementor-element-acb7e9e .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-84 .elementor-element.elementor-element-acb7e9e .elementor-icon-list-item>a {
    font-family: "Helix Medium", Sans-serif;
    font-size: 16px;
    font-weight: 100;
    line-height: 25px;
}

.elementor-84 .elementor-element.elementor-element-acb7e9e .elementor-icon-list-text {
    color: #425563;
    transition: color 0.3s;
}

.elementor-84 .elementor-element.elementor-element-acb7e9e .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: #153971;
}

.elementor-84 .elementor-element.elementor-element-e15aa4b>.elementor-element-populated {
    padding: 0px 80px 0px 35px;
}

.elementor-84 .elementor-element.elementor-element-b26c967 .elementor-heading-title {
    color: #00A5E5;
    font-family: "Hellix", Sans-serif;
    font-size: 23px;
    font-weight: 600;
    line-height: 29px;
}

.elementor-84 .elementor-element.elementor-element-774b3c1 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(31px/2);
}

.elementor-84 .elementor-element.elementor-element-774b3c1 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(31px/2);
}

.elementor-84 .elementor-element.elementor-element-774b3c1 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(31px/2);
    margin-left: calc(31px/2);
}

.elementor-84 .elementor-element.elementor-element-774b3c1 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-31px/2);
    margin-left: calc(-31px/2);
}

body.rtl .elementor-84 .elementor-element.elementor-element-774b3c1 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-31px/2);
}

body:not(.rtl) .elementor-84 .elementor-element.elementor-element-774b3c1 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-31px/2);
}

.elementor-84 .elementor-element.elementor-element-774b3c1 .elementor-icon-list-icon i {
    color: #FF0000;
    transition: color 0.3s;
}

.elementor-84 .elementor-element.elementor-element-774b3c1 .elementor-icon-list-icon svg {
    fill: #FF0000;
    transition: fill 0.3s;
}

.elementor-84 .elementor-element.elementor-element-774b3c1 {
    --e-icon-list-icon-size: 20px;
    --icon-vertical-align: flex-start;
    --icon-vertical-offset: 5px;
}

.elementor-84 .elementor-element.elementor-element-774b3c1 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-84 .elementor-element.elementor-element-774b3c1 .elementor-icon-list-item>a {
    font-family: "Helix Medium", Sans-serif;
    font-size: 16px;
    font-weight: 100;
    line-height: 25px;
}

.elementor-84 .elementor-element.elementor-element-774b3c1 .elementor-icon-list-text {
    color: #425563;
    transition: color 0.3s;
}

.elementor-84 .elementor-element.elementor-element-774b3c1 .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: #153971;
}

.elementor-84 .elementor-element.elementor-element-761a3ec .elementor-heading-title {
    color: #00A5E5;
    font-family: "Hellix", Sans-serif;
    font-size: 23px;
    font-weight: 600;
    line-height: 29px;
}

.elementor-84 .elementor-element.elementor-element-b827012 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(31px/2);
}

.elementor-84 .elementor-element.elementor-element-b827012 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(31px/2);
}

.elementor-84 .elementor-element.elementor-element-b827012 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(31px/2);
    margin-left: calc(31px/2);
}

.elementor-84 .elementor-element.elementor-element-b827012 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-31px/2);
    margin-left: calc(-31px/2);
}

body.rtl .elementor-84 .elementor-element.elementor-element-b827012 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-31px/2);
}

body:not(.rtl) .elementor-84 .elementor-element.elementor-element-b827012 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-31px/2);
}

.elementor-84 .elementor-element.elementor-element-b827012 .elementor-icon-list-icon i {
    color: #FF0000;
    transition: color 0.3s;
}

.elementor-84 .elementor-element.elementor-element-b827012 .elementor-icon-list-icon svg {
    fill: #FF0000;
    transition: fill 0.3s;
}

.elementor-84 .elementor-element.elementor-element-b827012 {
    --e-icon-list-icon-size: 20px;
    --icon-vertical-align: flex-start;
    --icon-vertical-offset: 5px;
}

.elementor-84 .elementor-element.elementor-element-b827012 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-84 .elementor-element.elementor-element-b827012 .elementor-icon-list-item>a {
    font-family: "Helix Medium", Sans-serif;
    font-size: 16px;
    font-weight: 100;
    line-height: 25px;
}

.elementor-84 .elementor-element.elementor-element-b827012 .elementor-icon-list-text {
    color: #425563;
    transition: color 0.3s;
}

.elementor-84 .elementor-element.elementor-element-b827012 .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: #153971;
}

.elementor-84 .elementor-element.elementor-element-fa661ed>.elementor-container {
    max-width: 1120px;
}

.elementor-84 .elementor-element.elementor-element-fa661ed {
    padding: 115px 0px 80px 0px;
}

.elementor-84 .elementor-element.elementor-element-27f307b {
    text-align: left;
}

.elementor-84 .elementor-element.elementor-element-27f307b>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
}

.elementor-84 .elementor-element.elementor-element-a007670 .elementor-heading-title {
    color: #182955;
    font-family: "Hellix", Sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}

.elementor-84 .elementor-element.elementor-element-a3f1595 .elementor-icon-list-icon i {
    color: #00A5E5;
    transition: color 0.3s;
}

.elementor-84 .elementor-element.elementor-element-a3f1595 .elementor-icon-list-icon svg {
    fill: #00A5E5;
    transition: fill 0.3s;
}

.elementor-84 .elementor-element.elementor-element-a3f1595 {
    --e-icon-list-icon-size: 20px;
    --icon-vertical-align: flex-start;
    --icon-vertical-offset: 5px;
}

.elementor-84 .elementor-element.elementor-element-a3f1595 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-84 .elementor-element.elementor-element-a3f1595 .elementor-icon-list-item>a {
    font-family: "Helix Medium", Sans-serif;
    font-size: 17px;
    font-weight: 100;
    line-height: 27px;
}

.elementor-84 .elementor-element.elementor-element-a3f1595 .elementor-icon-list-text {
    transition: color 0.3s;
}

.elementor-84 .elementor-element.elementor-element-8b9e320>.elementor-element-populated {
    padding: 0px 0px 0px 44px;
}

.elementor-84 .elementor-element.elementor-element-cc6a558 .elementor-heading-title {
    color: #00A5E5;
    font-family: "Hellix", Sans-serif;
    font-size: 23px;
    font-weight: 600;
    line-height: 29px;
}

.elementor-84 .elementor-element.elementor-element-2059f8c .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(31px/2);
}

.elementor-84 .elementor-element.elementor-element-2059f8c .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(31px/2);
}

.elementor-84 .elementor-element.elementor-element-2059f8c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(31px/2);
    margin-left: calc(31px/2);
}

.elementor-84 .elementor-element.elementor-element-2059f8c .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-31px/2);
    margin-left: calc(-31px/2);
}

body.rtl .elementor-84 .elementor-element.elementor-element-2059f8c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-31px/2);
}

body:not(.rtl) .elementor-84 .elementor-element.elementor-element-2059f8c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-31px/2);
}

.elementor-84 .elementor-element.elementor-element-2059f8c .elementor-icon-list-icon i {
    color: #FF0000;
    transition: color 0.3s;
}

.elementor-84 .elementor-element.elementor-element-2059f8c .elementor-icon-list-icon svg {
    fill: #FF0000;
    transition: fill 0.3s;
}

.elementor-84 .elementor-element.elementor-element-2059f8c {
    --e-icon-list-icon-size: 20px;
    --icon-vertical-align: flex-start;
    --icon-vertical-offset: 5px;
}

.elementor-84 .elementor-element.elementor-element-2059f8c .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-84 .elementor-element.elementor-element-2059f8c .elementor-icon-list-item>a {
    font-family: "Helix Medium", Sans-serif;
    font-size: 16px;
    font-weight: 100;
    line-height: 25px;
}

.elementor-84 .elementor-element.elementor-element-2059f8c .elementor-icon-list-text {
    color: #425563;
    transition: color 0.3s;
}

.elementor-84 .elementor-element.elementor-element-2059f8c .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: #153971;
}

.elementor-84 .elementor-element.elementor-element-8c32618>.elementor-element-populated {
    padding: 0px 0px 0px 80px;
}

.elementor-84 .elementor-element.elementor-element-cf1540b .elementor-heading-title {
    color: #00A5E5;
    font-family: "Hellix", Sans-serif;
    font-size: 23px;
    font-weight: 600;
    line-height: 29px;
}

.elementor-84 .elementor-element.elementor-element-3a60b8f .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(31px/2);
}

.elementor-84 .elementor-element.elementor-element-3a60b8f .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(31px/2);
}

.elementor-84 .elementor-element.elementor-element-3a60b8f .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(31px/2);
    margin-left: calc(31px/2);
}

.elementor-84 .elementor-element.elementor-element-3a60b8f .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-31px/2);
    margin-left: calc(-31px/2);
}

body.rtl .elementor-84 .elementor-element.elementor-element-3a60b8f .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-31px/2);
}

body:not(.rtl) .elementor-84 .elementor-element.elementor-element-3a60b8f .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-31px/2);
}

.elementor-84 .elementor-element.elementor-element-3a60b8f .elementor-icon-list-icon i {
    color: #153971;
    transition: color 0.3s;
}

.elementor-84 .elementor-element.elementor-element-3a60b8f .elementor-icon-list-icon svg {
    fill: #153971;
    transition: fill 0.3s;
}

.elementor-84 .elementor-element.elementor-element-3a60b8f {
    --e-icon-list-icon-size: 20px;
    --icon-vertical-align: flex-start;
    --icon-vertical-offset: 5px;
}

.elementor-84 .elementor-element.elementor-element-3a60b8f .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-84 .elementor-element.elementor-element-3a60b8f .elementor-icon-list-item>a {
    font-family: "Helix Medium", Sans-serif;
    font-size: 16px;
    font-weight: 100;
    line-height: 25px;
}

.elementor-84 .elementor-element.elementor-element-3a60b8f .elementor-icon-list-text {
    color: #425563;
    transition: color 0.3s;
}

.elementor-84 .elementor-element.elementor-element-3a60b8f .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: #FA0202;
}

.elementor-84 .elementor-element.elementor-element-249033c>.elementor-element-populated {
    padding: 0px 0px 0px 44px;
}

.elementor-84 .elementor-element.elementor-element-8db4dbf .elementor-heading-title {
    color: #182955;
    font-family: "Hellix", Sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}

.elementor-84 .elementor-element.elementor-element-20e6245 .elementor-icon-list-icon i {
    color: #00A5E5;
    transition: color 0.3s;
}

.elementor-84 .elementor-element.elementor-element-20e6245 .elementor-icon-list-icon svg {
    fill: #00A5E5;
    transition: fill 0.3s;
}

.elementor-84 .elementor-element.elementor-element-20e6245 {
    --e-icon-list-icon-size: 20px;
    --icon-vertical-align: flex-start;
    --icon-vertical-offset: 5px;
}

.elementor-84 .elementor-element.elementor-element-20e6245 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-84 .elementor-element.elementor-element-20e6245 .elementor-icon-list-item>a {
    font-family: "Helix Medium", Sans-serif;
    font-size: 17px;
    font-weight: 100;
    line-height: 27px;
}

.elementor-84 .elementor-element.elementor-element-20e6245 .elementor-icon-list-text {
    transition: color 0.3s;
}

.elementor-84 .elementor-element.elementor-element-ced8607>.elementor-element-populated {
    padding: 0px 80px 0px 35px;
}

.elementor-84 .elementor-element.elementor-element-b3498e8 .elementor-heading-title {
    color: #00A5E5;
    font-family: "Hellix", Sans-serif;
    font-size: 23px;
    font-weight: 600;
    line-height: 29px;
}

.elementor-84 .elementor-element.elementor-element-7b00680 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(31px/2);
}

.elementor-84 .elementor-element.elementor-element-7b00680 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(31px/2);
}

.elementor-84 .elementor-element.elementor-element-7b00680 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(31px/2);
    margin-left: calc(31px/2);
}

.elementor-84 .elementor-element.elementor-element-7b00680 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-31px/2);
    margin-left: calc(-31px/2);
}

body.rtl .elementor-84 .elementor-element.elementor-element-7b00680 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-31px/2);
}

body:not(.rtl) .elementor-84 .elementor-element.elementor-element-7b00680 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-31px/2);
}

.elementor-84 .elementor-element.elementor-element-7b00680 .elementor-icon-list-icon i {
    color: #FF0000;
    transition: color 0.3s;
}

.elementor-84 .elementor-element.elementor-element-7b00680 .elementor-icon-list-icon svg {
    fill: #FF0000;
    transition: fill 0.3s;
}

.elementor-84 .elementor-element.elementor-element-7b00680 {
    --e-icon-list-icon-size: 20px;
    --icon-vertical-align: flex-start;
    --icon-vertical-offset: 5px;
}

.elementor-84 .elementor-element.elementor-element-7b00680 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-84 .elementor-element.elementor-element-7b00680 .elementor-icon-list-item>a {
    font-family: "Helix Medium", Sans-serif;
    font-size: 16px;
    font-weight: 100;
    line-height: 25px;
}

.elementor-84 .elementor-element.elementor-element-7b00680 .elementor-icon-list-text {
    color: #425563;
    transition: color 0.3s;
}

.elementor-84 .elementor-element.elementor-element-7b00680 .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: #153971;
}

.elementor-84 .elementor-element.elementor-element-6d3d6c4 .elementor-heading-title {
    color: #00A5E5;
    font-family: "Hellix", Sans-serif;
    font-size: 23px;
    font-weight: 600;
    line-height: 29px;
}

.elementor-84 .elementor-element.elementor-element-70202e5 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(31px/2);
}

.elementor-84 .elementor-element.elementor-element-70202e5 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(31px/2);
}

.elementor-84 .elementor-element.elementor-element-70202e5 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(31px/2);
    margin-left: calc(31px/2);
}

.elementor-84 .elementor-element.elementor-element-70202e5 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-31px/2);
    margin-left: calc(-31px/2);
}

body.rtl .elementor-84 .elementor-element.elementor-element-70202e5 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-31px/2);
}

body:not(.rtl) .elementor-84 .elementor-element.elementor-element-70202e5 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-31px/2);
}

.elementor-84 .elementor-element.elementor-element-70202e5 .elementor-icon-list-icon i {
    color: #FF0000;
    transition: color 0.3s;
}

.elementor-84 .elementor-element.elementor-element-70202e5 .elementor-icon-list-icon svg {
    fill: #FF0000;
    transition: fill 0.3s;
}

.elementor-84 .elementor-element.elementor-element-70202e5 {
    --e-icon-list-icon-size: 20px;
    --icon-vertical-align: flex-start;
    --icon-vertical-offset: 5px;
}

.elementor-84 .elementor-element.elementor-element-70202e5 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-84 .elementor-element.elementor-element-70202e5 .elementor-icon-list-item>a {
    font-family: "Helix Medium", Sans-serif;
    font-size: 16px;
    font-weight: 100;
    line-height: 25px;
}

.elementor-84 .elementor-element.elementor-element-70202e5 .elementor-icon-list-text {
    color: #425563;
    transition: color 0.3s;
}

.elementor-84 .elementor-element.elementor-element-70202e5 .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: #153971;
}

.elementor-84 .elementor-element.elementor-element-73b4e28>.elementor-container {
    max-width: 1120px;
}

.elementor-84 .elementor-element.elementor-element-73b4e28:not(.elementor-motion-effects-element-type-background),
.elementor-84 .elementor-element.elementor-element-73b4e28>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #00A5E5;
}

.elementor-84 .elementor-element.elementor-element-73b4e28 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 22px 0px 23px 0px;
}

.elementor-84 .elementor-element.elementor-element-73b4e28>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-84 .elementor-element.elementor-element-5d78d49.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-84 .elementor-element.elementor-element-5d78d49.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-84 .elementor-element.elementor-element-a7264d6 {
    text-align: left;
}

.elementor-84 .elementor-element.elementor-element-a7264d6 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Helix Medium", Sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
}

.elementor-84 .elementor-element.elementor-element-ed257b2 {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 20px;
    --grid-column-gap: 20px;
    --grid-row-gap: 0px;
}

.elementor-84 .elementor-element.elementor-element-ed257b2 .elementor-widget-container {
    text-align: right;
}

.elementor-84 .elementor-element.elementor-element-ed257b2 .elementor-social-icon {
    background-color: #FFFFFF;
    --icon-padding: 0.8em;
}

.elementor-84 .elementor-element.elementor-element-ed257b2 .elementor-social-icon i {
    color: #007FDD;
}

.elementor-84 .elementor-element.elementor-element-ed257b2 .elementor-social-icon svg {
    fill: #007FDD;
}

.elementor-84 .elementor-element.elementor-element-ed257b2 .elementor-social-icon:hover {
    background-color: #FF0000;
}

.elementor-84 .elementor-element.elementor-element-ed257b2 .elementor-social-icon:hover i {
    color: #FFFFFF;
}

.elementor-84 .elementor-element.elementor-element-ed257b2 .elementor-social-icon:hover svg {
    fill: #FFFFFF;
}

@media(max-width:1024px) {
    .elementor-84 .elementor-element.elementor-element-0efa8d1>.elementor-container {
        min-height: 400px;
    }
    .elementor-84 .elementor-element.elementor-element-0efa8d1 {
        padding: 30px 0px 0px 60px;
    }
    .elementor-84 .elementor-element.elementor-element-a82555f>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-84 .elementor-element.elementor-element-f5702c3>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 20px;
    }
    .elementor-84 .elementor-element.elementor-element-d8b0cee>.elementor-widget-container {
        padding: 5px 80px 15px 0px;
    }
    .elementor-84 .elementor-element.elementor-element-9178fe3 .elementor-button {
        padding: 25px 20px 25px 20px;
    }
    .elementor-84 .elementor-element.elementor-element-9178fe3>.elementor-widget-container {
        padding: 0px 70px 0px 0px;
    }
    .elementor-84 .elementor-element.elementor-element-5528086 .elementor-button {
        padding: 25px 34px 25px 35px;
    }
    .elementor-84 .elementor-element.elementor-element-5528086>.elementor-widget-container {
        padding: 10px 0px 0px 0px;
    }
    .elementor-84 .elementor-element.elementor-element-fa661ed {
        padding: 80px 40px 80px 40px;
    }
    .elementor-84 .elementor-element.elementor-element-249033c>.elementor-element-populated {
        padding: 30px 0px 0px 0px;
    }
    .elementor-84 .elementor-element.elementor-element-ced8607>.elementor-element-populated {
        padding: 30px 0px 0px 46px;
    }
    .elementor-84 .elementor-element.elementor-element-7b00680 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
        padding-bottom: calc(25px/2);
    }
    .elementor-84 .elementor-element.elementor-element-7b00680 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
        margin-top: calc(25px/2);
    }
    .elementor-84 .elementor-element.elementor-element-7b00680 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
        margin-right: calc(25px/2);
        margin-left: calc(25px/2);
    }
    .elementor-84 .elementor-element.elementor-element-7b00680 .elementor-icon-list-items.elementor-inline-items {
        margin-right: calc(-25px/2);
        margin-left: calc(-25px/2);
    }
    body.rtl .elementor-84 .elementor-element.elementor-element-7b00680 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        left: calc(-25px/2);
    }
    body:not(.rtl) .elementor-84 .elementor-element.elementor-element-7b00680 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        right: calc(-25px/2);
    }
    .elementor-84 .elementor-element.elementor-element-36cef5f>.elementor-element-populated {
        padding: 30px 0px 0px 80px;
    }
    .elementor-84 .elementor-element.elementor-element-73b4e28 {
        padding: 20px 40px 20px 40px;
    }
    .elementor-84 .elementor-element.elementor-element-ed257b2 {
        --grid-column-gap: 15px;
    }
}

@media(max-width:767px) {
    .elementor-84 .elementor-element.elementor-element-788cf97>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-84 .elementor-element.elementor-element-0efa8d1 {
        padding: 0px 10px 0px 10px;
    }
    .elementor-84 .elementor-element.elementor-element-5a322a4>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-84 .elementor-element.elementor-element-a82555f {
        text-align: center;
    }
    .elementor-84 .elementor-element.elementor-element-f5702c3.elementor-column>.elementor-widget-wrap {
        justify-content: center;
    }
    .elementor-84 .elementor-element.elementor-element-f5702c3>.elementor-element-populated {
        padding: 80px 0px 50px 0px;
    }
    .elementor-84 .elementor-element.elementor-element-2b31ecc {
        text-align: center;
    }
    .elementor-84 .elementor-element.elementor-element-2b31ecc .elementor-heading-title {
        font-size: 32px;
        line-height: 34px;
    }
    .elementor-84 .elementor-element.elementor-element-2b31ecc>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-84 .elementor-element.elementor-element-d8b0cee {
        text-align: center;
        font-size: 17px;
    }
    .elementor-84 .elementor-element.elementor-element-d8b0cee>.elementor-widget-container {
        padding: 15px 0px 15px 0px;
    }
    .elementor-84 .elementor-element.elementor-element-9178fe3 .elementor-button {
        padding: 20px 20px 20px 20px;
    }
    .elementor-84 .elementor-element.elementor-element-9178fe3>.elementor-widget-container {
        padding: 0px 10px 0px 10px;
    }
    .elementor-84 .elementor-element.elementor-element-5528086 .elementor-button {
        padding: 20px 20px 20px 21px;
    }
    .elementor-84 .elementor-element.elementor-element-cc14b4f {
        padding: 50px 20px 50px 20px;
    }
    .elementor-84 .elementor-element.elementor-element-792889c {
        width: 50%;
    }
    .elementor-84 .elementor-element.elementor-element-792889c>.elementor-element-populated {
        padding: 40px 0px 0px 0px;
    }
    .elementor-84 .elementor-element.elementor-element-a04557a {
        width: 50%;
    }
    .elementor-84 .elementor-element.elementor-element-a04557a>.elementor-element-populated {
        padding: 40px 0px 0px 0px;
    }
    .elementor-84 .elementor-element.elementor-element-e15aa4b {
        width: 50%;
    }
    .elementor-84 .elementor-element.elementor-element-e15aa4b>.elementor-element-populated {
        padding: 40px 0px 0px 0px;
    }
    .elementor-84 .elementor-element.elementor-element-f1105bd {
        width: 50%;
    }
    .elementor-84 .elementor-element.elementor-element-f1105bd>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 40px 0px 0px 0px;
    }
    .elementor-84 .elementor-element.elementor-element-73b4e28 {
        padding: 20px 20px 20px 20px;
    }
    .elementor-84 .elementor-element.elementor-element-5d78d49>.elementor-element-populated {
        padding: 20px 0px 0px 0px;
    }
    .elementor-84 .elementor-element.elementor-element-a7264d6 {
        text-align: center;
    }
    .elementor-84 .elementor-element.elementor-element-ed257b2 .elementor-widget-container {
        text-align: center;
    }
    .elementor-84 .elementor-element.elementor-element-ed257b2 {
        --icon-size: 18px;
        --grid-column-gap: 15px;
    }
    .elementor-84 .elementor-element.elementor-element-ed257b2 .elementor-social-icon {
        --icon-padding: 0.5em;
    }
}

@media(min-width:768px) {
    .elementor-84 .elementor-element.elementor-element-5a322a4 {
        width: 40.268%;
    }
    .elementor-84 .elementor-element.elementor-element-f5702c3 {
        width: 59.689%;
    }
    .elementor-84 .elementor-element.elementor-element-e6137f2 {
        width: 27%;
    }
    .elementor-84 .elementor-element.elementor-element-792889c {
        width: 15%;
    }
    .elementor-84 .elementor-element.elementor-element-a04557a {
        width: 22%;
    }
    .elementor-84 .elementor-element.elementor-element-e15aa4b {
        width: 24%;
    }
    .elementor-84 .elementor-element.elementor-element-f1105bd {
        width: 11.802%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-84 .elementor-element.elementor-element-5a322a4 {
        width: 42%;
    }
    .elementor-84 .elementor-element.elementor-element-f5702c3 {
        width: 58%;
    }
    .elementor-84 .elementor-element.elementor-element-e6137f2 {
        width: 33%;
    }
    .elementor-84 .elementor-element.elementor-element-792889c {
        width: 33%;
    }
    .elementor-84 .elementor-element.elementor-element-a04557a {
        width: 33%;
    }
    .elementor-84 .elementor-element.elementor-element-0434182 {
        width: 33%;
    }
    .elementor-84 .elementor-element.elementor-element-8b9e320 {
        width: 33%;
    }
    .elementor-84 .elementor-element.elementor-element-8c32618 {
        width: 33%;
    }
    .elementor-84 .elementor-element.elementor-element-249033c {
        width: 33%;
    }
    .elementor-84 .elementor-element.elementor-element-ced8607 {
        width: 33%;
    }
    .elementor-84 .elementor-element.elementor-element-36cef5f {
        width: 33%;
    }
    .elementor-84 .elementor-element.elementor-element-5d78d49 {
        width: 80%;
    }
    .elementor-84 .elementor-element.elementor-element-fc02593 {
        width: 20%;
    }
}

/* Start Custom Fonts CSS */

@font-face {
    font-family: 'Hellix';
    font-style: normal;
    font-weight: normal;
    font-display: auto;
    src: url('https://movepacchoice.com/wp-content/uploads/2023/05/Hellix-SemiBold.ttf') format('truetype');
}

/* End Custom Fonts CSS */

/* Start Custom Fonts CSS */

@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: normal;
    font-display: auto;
    src: url('https://movepacchoice.com/wp-content/uploads/2023/05/Gilroy-SemiBold.ttf') format('truetype');
}

/* End Custom Fonts CSS */

/* Start Custom Fonts CSS */

@font-face {
    font-family: 'Helix Medium';
    font-style: normal;
    font-weight: normal;
    font-display: auto;
    src: url('https://movepacchoice.com/wp-content/uploads/2023/05/Hellix-Medium.ttf') format('truetype');
}

/* End Custom Fonts CSS */