.elementor-44 .elementor-element.elementor-element-f30194a>.elementor-container {
    max-width: 1120px;
}

.elementor-44 .elementor-element.elementor-element-f30194a:not(.elementor-motion-effects-element-type-background),
.elementor-44 .elementor-element.elementor-element-f30194a>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-44 .elementor-element.elementor-element-f30194a {
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 23px 0px 5px 0px;
}

.elementor-44 .elementor-element.elementor-element-f30194a>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-44 .elementor-element.elementor-element-b783f23.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-44 .elementor-element.elementor-element-b783f23.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-44 .elementor-element.elementor-element-dd883a9 {
    text-align: left;
}

.elementor-44 .elementor-element.elementor-element-dd883a9 img {
    width: 80%;
}

.elementor-bc-flex-widget .elementor-44 .elementor-element.elementor-element-9356043.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-44 .elementor-element.elementor-element-9356043.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-44 .elementor-element.elementor-element-9356043.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-44 .elementor-element.elementor-element-5cb50b3 .elementor-button {
    font-family: "Gilroy", Sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 18px;
    background-color: #153971;
    border-radius: 0px 0px 0px 0px;
    padding: 18px 28px 18px 28px;
}

.elementor-44 .elementor-element.elementor-element-5cb50b3 .elementor-button:hover,
.elementor-44 .elementor-element.elementor-element-5cb50b3 .elementor-button:focus {
    background-color: #00A5E5;
}

.elementor-44 .elementor-element.elementor-element-5cb50b3>.elementor-widget-container {
    padding: 0px 10px 0px 0px;
}

.elementor-44 .elementor-element.elementor-element-5cb50b3 {
    width: auto;
    max-width: auto;
}

.elementor-44 .elementor-element.elementor-element-ecd7a64 .elementor-button {
    font-family: "Gilroy", Sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 18px;
    background-color: #00A5E5;
    border-radius: 0px 0px 0px 0px;
    padding: 18px 28px 18px 28px;
}

.elementor-44 .elementor-element.elementor-element-ecd7a64 .elementor-button:hover,
.elementor-44 .elementor-element.elementor-element-ecd7a64 .elementor-button:focus {
    background-color: #153971;
}

.elementor-44 .elementor-element.elementor-element-ecd7a64 {
    width: auto;
    max-width: auto;
}

.elementor-44 .elementor-element.elementor-element-fb91a02 {
    padding: 10px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-44 .elementor-element.elementor-element-1a41f8c.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-44 .elementor-element.elementor-element-1a41f8c.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-44 .elementor-element.elementor-element-3633197 .elementor-menu-toggle {
    margin: 0 auto;
}

.elementor-44 .elementor-element.elementor-element-3633197 .elementor-nav-menu .elementor-item {
    font-family: "Hellix", Sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}

.elementor-44 .elementor-element.elementor-element-3633197 .elementor-nav-menu--main .elementor-item {
    color: #5A5A5A;
    fill: #5A5A5A;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.elementor-44 .elementor-element.elementor-element-3633197 .elementor-nav-menu--main .elementor-item:hover,
.elementor-44 .elementor-element.elementor-element-3633197 .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-44 .elementor-element.elementor-element-3633197 .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-44 .elementor-element.elementor-element-3633197 .elementor-nav-menu--main .elementor-item:focus {
    color: #153971;
    fill: #153971;
}

.elementor-44 .elementor-element.elementor-element-3633197 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
.elementor-44 .elementor-element.elementor-element-3633197 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after {
    background-color: #0062FA00;
}

.elementor-44 .elementor-element.elementor-element-3633197 .e--pointer-framed .elementor-item:before,
.elementor-44 .elementor-element.elementor-element-3633197 .e--pointer-framed .elementor-item:after {
    border-color: #0062FA00;
}

.elementor-44 .elementor-element.elementor-element-3633197 .elementor-nav-menu--main .elementor-item.elementor-item-active {
    color: #00A5E5;
}

.elementor-44 .elementor-element.elementor-element-3633197 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:before,
.elementor-44 .elementor-element.elementor-element-3633197 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:after {
    background-color: #00A5E5;
}

.elementor-44 .elementor-element.elementor-element-3633197 .e--pointer-framed .elementor-item.elementor-item-active:before,
.elementor-44 .elementor-element.elementor-element-3633197 .e--pointer-framed .elementor-item.elementor-item-active:after {
    border-color: #00A5E5;
}

.elementor-44 .elementor-element.elementor-element-3633197 .e--pointer-framed .elementor-item:before {
    border-width: 5px;
}

.elementor-44 .elementor-element.elementor-element-3633197 .e--pointer-framed.e--animation-draw .elementor-item:before {
    border-width: 0 0 5px 5px;
}

.elementor-44 .elementor-element.elementor-element-3633197 .e--pointer-framed.e--animation-draw .elementor-item:after {
    border-width: 5px 5px 0 0;
}

.elementor-44 .elementor-element.elementor-element-3633197 .e--pointer-framed.e--animation-corners .elementor-item:before {
    border-width: 5px 0 0 5px;
}

.elementor-44 .elementor-element.elementor-element-3633197 .e--pointer-framed.e--animation-corners .elementor-item:after {
    border-width: 0 5px 5px 0;
}

.elementor-44 .elementor-element.elementor-element-3633197 .e--pointer-underline .elementor-item:after,
.elementor-44 .elementor-element.elementor-element-3633197 .e--pointer-overline .elementor-item:before,
.elementor-44 .elementor-element.elementor-element-3633197 .e--pointer-double-line .elementor-item:before,
.elementor-44 .elementor-element.elementor-element-3633197 .e--pointer-double-line .elementor-item:after {
    height: 5px;
}

.elementor-44 .elementor-element.elementor-element-3633197 {
    --e-nav-menu-horizontal-menu-item-margin: calc( 80px / 2);
}

.elementor-44 .elementor-element.elementor-element-3633197 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
    margin-bottom: 80px;
}

.elementor-44 .elementor-element.elementor-element-3633197 .elementor-nav-menu--dropdown {
    background-color: #FFFFFF;
}

.elementor-44 .elementor-element.elementor-element-3633197 .elementor-nav-menu--dropdown a:hover,
.elementor-44 .elementor-element.elementor-element-3633197 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-44 .elementor-element.elementor-element-3633197 .elementor-nav-menu--dropdown a.highlighted,
.elementor-44 .elementor-element.elementor-element-3633197 .elementor-menu-toggle:hover {
    color: #FFFFFF;
}

.elementor-44 .elementor-element.elementor-element-3633197 .elementor-nav-menu--dropdown a:hover,
.elementor-44 .elementor-element.elementor-element-3633197 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-44 .elementor-element.elementor-element-3633197 .elementor-nav-menu--dropdown a.highlighted {
    background-color: #00A5E5;
}

.elementor-44 .elementor-element.elementor-element-3633197 .elementor-nav-menu--dropdown a.elementor-item-active {
    color: #FFFFFF;
    background-color: #00A5E5;
}

.elementor-44 .elementor-element.elementor-element-3633197 .elementor-nav-menu--dropdown .elementor-item,
.elementor-44 .elementor-element.elementor-element-3633197 .elementor-nav-menu--dropdown .elementor-sub-item {
    font-family: "Hellix", Sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.elementor-44 .elementor-element.elementor-element-3633197 .elementor-nav-menu--main .elementor-nav-menu--dropdown,
.elementor-44 .elementor-element.elementor-element-3633197 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
    box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.5);
}

.elementor-44 .elementor-element.elementor-element-3633197 .elementor-nav-menu--dropdown a {
    padding-left: 10px;
    padding-right: 10px;
}

.elementor-44 .elementor-element.elementor-element-3633197 .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
.elementor-44 .elementor-element.elementor-element-3633197 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
    margin-top: 5px !important;
}

.elementor-44 .elementor-element.elementor-element-8e3afc2>.elementor-container {
    max-width: 1120px;
}

.elementor-44 .elementor-element.elementor-element-8e3afc2:not(.elementor-motion-effects-element-type-background),
.elementor-44 .elementor-element.elementor-element-8e3afc2>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-44 .elementor-element.elementor-element-8e3afc2 {
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 23px 0px 5px 0px;
}

.elementor-44 .elementor-element.elementor-element-8e3afc2>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-44 .elementor-element.elementor-element-42488ca.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-44 .elementor-element.elementor-element-42488ca.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-44 .elementor-element.elementor-element-ba2b6b8 {
    text-align: left;
}

.elementor-bc-flex-widget .elementor-44 .elementor-element.elementor-element-d0d1b45.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-44 .elementor-element.elementor-element-d0d1b45.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-44 .elementor-element.elementor-element-d0d1b45.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-44 .elementor-element.elementor-element-f194e0f .elementor-button {
    font-family: "Gilroy", Sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 18px;
    fill: #182955;
    color: #182955;
    background-color: #FFFFFF;
    border-radius: 0px 0px 0px 0px;
    padding: 18px 28px 18px 28px;
}

.elementor-44 .elementor-element.elementor-element-f194e0f .elementor-button:hover,
.elementor-44 .elementor-element.elementor-element-f194e0f .elementor-button:focus {
    color: #182955;
    background-color: #FFFFFF;
}

.elementor-44 .elementor-element.elementor-element-f194e0f .elementor-button:hover svg,
.elementor-44 .elementor-element.elementor-element-f194e0f .elementor-button:focus svg {
    fill: #182955;
}

.elementor-44 .elementor-element.elementor-element-f194e0f {
    width: auto;
    max-width: auto;
}

.elementor-44 .elementor-element.elementor-element-8650074 .elementor-menu-toggle {
    margin: 0 auto;
    background-color: #02010100;
}

.elementor-44 .elementor-element.elementor-element-8650074 .elementor-nav-menu .elementor-item {
    font-family: "Hellix", Sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}

.elementor-44 .elementor-element.elementor-element-8650074 .elementor-nav-menu--main .elementor-item {
    color: #5A5A5A;
    fill: #5A5A5A;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.elementor-44 .elementor-element.elementor-element-8650074 .elementor-nav-menu--main .elementor-item:hover,
.elementor-44 .elementor-element.elementor-element-8650074 .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-44 .elementor-element.elementor-element-8650074 .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-44 .elementor-element.elementor-element-8650074 .elementor-nav-menu--main .elementor-item:focus {
    color: #153971;
    fill: #153971;
}

.elementor-44 .elementor-element.elementor-element-8650074 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
.elementor-44 .elementor-element.elementor-element-8650074 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after {
    background-color: #0062FA00;
}

.elementor-44 .elementor-element.elementor-element-8650074 .e--pointer-framed .elementor-item:before,
.elementor-44 .elementor-element.elementor-element-8650074 .e--pointer-framed .elementor-item:after {
    border-color: #0062FA00;
}

.elementor-44 .elementor-element.elementor-element-8650074 .elementor-nav-menu--main .elementor-item.elementor-item-active {
    color: #153971;
}

.elementor-44 .elementor-element.elementor-element-8650074 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:before,
.elementor-44 .elementor-element.elementor-element-8650074 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:after {
    background-color: #153971;
}

.elementor-44 .elementor-element.elementor-element-8650074 .e--pointer-framed .elementor-item.elementor-item-active:before,
.elementor-44 .elementor-element.elementor-element-8650074 .e--pointer-framed .elementor-item.elementor-item-active:after {
    border-color: #153971;
}

.elementor-44 .elementor-element.elementor-element-8650074 .e--pointer-framed .elementor-item:before {
    border-width: 5px;
}

.elementor-44 .elementor-element.elementor-element-8650074 .e--pointer-framed.e--animation-draw .elementor-item:before {
    border-width: 0 0 5px 5px;
}

.elementor-44 .elementor-element.elementor-element-8650074 .e--pointer-framed.e--animation-draw .elementor-item:after {
    border-width: 5px 5px 0 0;
}

.elementor-44 .elementor-element.elementor-element-8650074 .e--pointer-framed.e--animation-corners .elementor-item:before {
    border-width: 5px 0 0 5px;
}

.elementor-44 .elementor-element.elementor-element-8650074 .e--pointer-framed.e--animation-corners .elementor-item:after {
    border-width: 0 5px 5px 0;
}

.elementor-44 .elementor-element.elementor-element-8650074 .e--pointer-underline .elementor-item:after,
.elementor-44 .elementor-element.elementor-element-8650074 .e--pointer-overline .elementor-item:before,
.elementor-44 .elementor-element.elementor-element-8650074 .e--pointer-double-line .elementor-item:before,
.elementor-44 .elementor-element.elementor-element-8650074 .e--pointer-double-line .elementor-item:after {
    height: 5px;
}

.elementor-44 .elementor-element.elementor-element-8650074 {
    --e-nav-menu-horizontal-menu-item-margin: calc( 80px / 2);
}

.elementor-44 .elementor-element.elementor-element-8650074 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
    margin-bottom: 80px;
}

.elementor-44 .elementor-element.elementor-element-8650074 .elementor-nav-menu--dropdown a,
.elementor-44 .elementor-element.elementor-element-8650074 .elementor-menu-toggle {
    color: #5A5A5A;
}

.elementor-44 .elementor-element.elementor-element-8650074 .elementor-nav-menu--dropdown {
    background-color: #FFFFFF;
    border-style: none;
}

.elementor-44 .elementor-element.elementor-element-8650074 .elementor-nav-menu--dropdown a:hover,
.elementor-44 .elementor-element.elementor-element-8650074 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-44 .elementor-element.elementor-element-8650074 .elementor-nav-menu--dropdown a.highlighted,
.elementor-44 .elementor-element.elementor-element-8650074 .elementor-menu-toggle:hover {
    color: #FFFFFF;
}

.elementor-44 .elementor-element.elementor-element-8650074 .elementor-nav-menu--dropdown a:hover,
.elementor-44 .elementor-element.elementor-element-8650074 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-44 .elementor-element.elementor-element-8650074 .elementor-nav-menu--dropdown a.highlighted {
    background-color: #00A5E5;
}

.elementor-44 .elementor-element.elementor-element-8650074 .elementor-nav-menu--dropdown a.elementor-item-active {
    color: #FFFFFF;
    background-color: #00A5E5;
}

.elementor-44 .elementor-element.elementor-element-8650074 .elementor-nav-menu--dropdown .elementor-item,
.elementor-44 .elementor-element.elementor-element-8650074 .elementor-nav-menu--dropdown .elementor-sub-item {
    font-family: "Hellix", Sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.elementor-44 .elementor-element.elementor-element-8650074 .elementor-nav-menu--main .elementor-nav-menu--dropdown,
.elementor-44 .elementor-element.elementor-element-8650074 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
    box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.5);
}

.elementor-44 .elementor-element.elementor-element-8650074 .elementor-nav-menu--dropdown a {
    padding-left: 10px;
    padding-right: 10px;
}

.elementor-44 .elementor-element.elementor-element-8650074 .elementor-nav-menu--dropdown li:not(:last-child) {
    border-style: solid;
    border-color: #E2E2E2;
    border-bottom-width: 1px;
}

.elementor-44 .elementor-element.elementor-element-8650074 .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
.elementor-44 .elementor-element.elementor-element-8650074 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
    margin-top: 5px !important;
}

.elementor-44 .elementor-element.elementor-element-8650074 div.elementor-menu-toggle {
    color: #00A5E5;
}

.elementor-44 .elementor-element.elementor-element-8650074 div.elementor-menu-toggle svg {
    fill: #00A5E5;
}

.elementor-44 .elementor-element.elementor-element-8650074 div.elementor-menu-toggle:hover {
    color: #00A5E5;
}

.elementor-44 .elementor-element.elementor-element-8650074 div.elementor-menu-toggle:hover svg {
    fill: #00A5E5;
}

@media(max-width:1024px) {
    .elementor-44 .elementor-element.elementor-element-8e3afc2 {
        padding: 10px 40px 10px 40px;
    }
    .elementor-44 .elementor-element.elementor-element-ba2b6b8 img {
        width: 80%;
    }
    .elementor-44 .elementor-element.elementor-element-f194e0f .elementor-button {
        font-size: 24px;
        line-height: 28px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-44 .elementor-element.elementor-element-f194e0f>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 20px 0px 0px;
    }
    .elementor-44 .elementor-element.elementor-element-8650074 {
        --e-nav-menu-horizontal-menu-item-margin: calc( 10em / 2);
        --nav-menu-icon-size: 30px;
        width: auto;
        max-width: auto;
    }
    .elementor-44 .elementor-element.elementor-element-8650074 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
        margin-bottom: 10em;
    }
    .elementor-44 .elementor-element.elementor-element-8650074 .elementor-nav-menu--dropdown .elementor-item,
    .elementor-44 .elementor-element.elementor-element-8650074 .elementor-nav-menu--dropdown .elementor-sub-item {
        font-size: 18px;
    }
    .elementor-44 .elementor-element.elementor-element-8650074 .elementor-nav-menu--dropdown a {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .elementor-44 .elementor-element.elementor-element-8650074 .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
    .elementor-44 .elementor-element.elementor-element-8650074 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
        margin-top: 30px !important;
    }
}

@media(max-width:767px) {
    .elementor-44 .elementor-element.elementor-element-8e3afc2 {
        padding: 20px 10px 20px 10px;
    }
    .elementor-44 .elementor-element.elementor-element-42488ca {
        width: 40%;
    }
    .elementor-44 .elementor-element.elementor-element-ba2b6b8 img {
        width: 100%;
    }
    .elementor-44 .elementor-element.elementor-element-d0d1b45 {
        width: 60%;
    }
    .elementor-44 .elementor-element.elementor-element-f194e0f .elementor-button {
        font-size: 20px;
        line-height: 27px;
    }
    .elementor-44 .elementor-element.elementor-element-f194e0f>.elementor-widget-container {
        padding: 0px 5px 0px 0px;
    }
    .elementor-44 .elementor-element.elementor-element-8650074 .elementor-nav-menu--dropdown .elementor-item,
    .elementor-44 .elementor-element.elementor-element-8650074 .elementor-nav-menu--dropdown .elementor-sub-item {
        font-size: 16px;
    }
    .elementor-44 .elementor-element.elementor-element-8650074 .elementor-nav-menu--dropdown a {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .elementor-44 .elementor-element.elementor-element-8650074 .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
    .elementor-44 .elementor-element.elementor-element-8650074 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
        margin-top: 16px !important;
    }
    .elementor-44 .elementor-element.elementor-element-8650074 {
        --nav-menu-icon-size: 25px;
    }
}

/* Start Custom Fonts CSS */

@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: normal;
    font-display: auto;
    src: url('https://movepacchoice.com/wp-content/uploads/2023/05/Gilroy-SemiBold.ttf') format('truetype');
}

/* End Custom Fonts CSS */

/* Start Custom Fonts CSS */

@font-face {
    font-family: 'Hellix';
    font-style: normal;
    font-weight: normal;
    font-display: auto;
    src: url('https://movepacchoice.com/wp-content/uploads/2023/05/Hellix-SemiBold.ttf') format('truetype');
}

/* End Custom Fonts CSS */